<!doctype html>
<title>{% block title %}{% endblock %} Search </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <!-- action = "http://localhost:5000/major/result/"  -->
  <form name="new_search" method = "POST" action="{{ url_for('add') }}">
      <p>Start Article <input type = "text" name = "start" value={{request.form.start}}></p>
      <p>End Article <input type = "text" name = "end" value={{request.form.end}}></p>
      <p><input type = "submit" value = "submit" /></p>
  </form>
</nav>
